.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.);
}

.modalBox {
  position: relative;
  width: 80%;
  margin: 0 10%;
  padding: 50px;
  box-sizing: border-box;
  border-right: 10px;
  background-color: black;
  cursor: pointer;
  box-shadow: 15px 15px 200px black, -15px -15px 200px black;
}

.gameOver{
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 100px;
    color: white;
    font-weight: bold;
    text-align: center;
}
